MAX_AUTH_TOKEN="An_Sx6HQ9HDimJIh1_wIBcAECzPghDXVdLi0B4QRjLqiCDjZ8SK85_iyxsK49WKOaGEu7wb7CHIzkdsDDSnlMI12T5kG_cXUKRg4TvUz4SFRIqmKs1G6ctSz0Ja0bQGL8e1CNnjpp_cjJDRZ8HSM3AwrdZEiSo2OcLdnan9Ys4BKD_APWPTJziGK-GTKjMcuKKJ84mgGCbDlMtQBvD7MBuDGo9kIAfGsEwB9UPzB_gPBviMDJI8ddZ80ENqvTSYxMGRMRG2tYl0bVMRw63aMITaFIZee7zqXgRR77Ur7Vb-3LZnjuoLaTLEQGdCQnSWl9Y5ASdnUlax0Xm8pVzvyaBrKp7MjGSBkskcbOS2jxrHNlbVjWIkRg8mbE8oxBrE1B6QI8qTF7YjBDXCBFeKjuIA8oJM9hgOROTuqwpSLUke8lCuc4VlwLKapiGEFYJqSYATI7mvMXmeYRpIAd8qCvE1XYMI6rUb8XBcPSIZqnJkxA7on5el8MPWDXgFUF2FrFzZPhxEvBPxfbKuqhXrjP5rWeIGNOXfVDavecKYNvnJDg2_npXdHPOHxeH53lh4RIxLlQ7ZjoSadpVTkIgvaAiPvhpmrp43EXF_LFTgCERza7BumWFFmE2wNbJOQwShxmaStXNiERkr2H5Cb673dsKpZYfSCYoxXfkzuUSfyg4DLwrHnGW19CrgEYPbD-fv7QQ6cBNY"
MAX_CHAT_ID=-69382756688041
TG_TOKEN="8519545489:AAFQdm3wo7Dqdb7NgM-cQ0NISjIcJ17CUIg"
TG_CHAT_ID=-3336823860

# Новые переменные для MaxUserAgent
MAX_DEVICE_TYPE=WEB
MAX_LOCALE=ru
MAX_DEVICE_LOCALE=ru-RU
MAX_OS_VERSION=Windows 10
MAX_DEVICE_NAME=Desktop
MAX_USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
MAX_APP_VERSION=1.0.0
MAX_SCREEN=1920x1080
MAX_TZ=Europe/Moscow
